rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /projects/{projectId} {
      allow read: if signedIn();
      allow write: if signedIn();

      match /buildings/{buildingId} {
        allow read: if signedIn();
        allow write: if signedIn();
      }

      match /defects/{defectId} {
        allow read: if signedIn();
        allow create, update: if signedIn();
        allow delete: if false;
      }
    }
  }
}
